body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

a {
    color: #333;
    text-decoration: none;
    margin: 0 25px;
}

.active {
    color: gray;
}

.center {
    width: 500px; 
    margin: 0 auto;
}

.form-field {
    display: flex;
    justify-content: center;
    align-items: top;
}

.label {
    line-height: 20px;
    width: 200px;
}

.form-input {
    height: 20px;
}

.center-flex {
    display: flex;
    justify-content: center;
}

.submit-btn {
    background-color: #28C8DF;
    margin-bottom: 20px;
    height: 50px;
    width: 100px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

