body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

a {
    color: #333;
    text-decoration: none;
    margin: 25px;
}

.active {
    color: gray
}

.center-flex {
    display: flex;
    justify-content: center;
}

button {
    background-color: #FE5A57;
    margin-bottom: 20px;
    height: 50px;
    width: 185px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    width: 500px;
  }
  
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

thead {
    background-color: #28C8DF;
}